@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.header {
  padding: 10px;
  width: 100%;
  background-color: #f1c40f;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.custom {
  margin-left: 20px;
  color: #34495e;
  font-size: 3rem !important;
}
.header h1 {
  margin-left: 10px;
  height: 20px;
  font-family: "Stint Ultra Condensed", cursive;
  line-height: 1;
  font-size: 3rem;
  color: #34495e;
}

/* create Note */
.write_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.write_container form {
  margin-top: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: ghostwhite;
  box-shadow: -3px 5px 23px silver;
  height: auto;
}
.write_container input {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
  color: #34495e;
  outline: none;
  font-size: 1.4rem;
}
.write_container input::placeholder {
  font-size: 1.4rem;
}
.write_container textarea {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #34495e;
}
.write_container textarea::placeholder {
  font-size: 1.1rem;
  color: #34495e;
}
.write_container .btn {
  width: 50px;
  margin-top: 3px !important;
  border-radius: 40px !important;
  background-color: ghostwhite !important;
  box-shadow: 0 5px 14px silver !important;
  align-self: center;
}
.write_container .plus {
  font-size: 1.9rem !important;
}

/* note */

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  height: max-content;
  width: 200px;
  margin-left: 15px;
  background-color: ghostwhite;
  box-shadow: -3px 5px 23px silver;
  margin-bottom: 15px;
}

.note h3 {
  font-size: 1.4rem;
  color: #34495e;
}

.note p {
  font-size: 1.7rem;
  width: 180px;
  word-wrap: break-word;
  color: #34495e;
  font-family: "Stint Ultra Condensed", cursive;
}

/* .note .btn {
  margin-top: 10px;
  border: none;
  width: 30px !important;
  height: 40px !important;
  align-self: flex-end;
  background-color: ghostwhite;
  box-shadow: -3px 5px 23px silver;
} */
.container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.container .btn {
  background-color: ghostwhite;
  box-shadow: -3px 5px 23px silver;
}

/*  alignment */

.alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
